:root {
    --primary-color: #3d3c3c;
    --secundary-color: #7e7102;
    --first-font-color: #000000;
    --font-color-link-hover: #dd9611;
    --font-color-link-active: #ffff;
    --font-general-size: 1.8rem;
    --font-title-h1-size: 4.5rem;
    --font-subtitle-h2-size: 3.5rem;
    --font-subtitle-h3-size: 3.0rem;
    --font-subtitle-h4-size: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.center-point-box {
    background-color: #7e7102;
    height: 100vh;
}

.center-point {
    width: 3rem;
    height: 3rem;
    background-color: #000000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bd0404;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

.popup-box__box {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #e04444;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-box__box:hover {
    background-color: #910404;
}

.popup-box__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;

}